* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: lightgray;
padding: 15px;
}
#login-card{
    background-color: white;
    width: 360px;
    border-radius:10px;
    padding: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

}
#login-card h1{
    text-align: center;
    margin-bottom: 5px;
}
#login-card p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

 #login-card input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
    margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
#login-card input:focus{
    outline: none;
    border-color: #9b59b6;
}
 #login-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg,#ff2f92,#7b2ff7);
}
button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.hidden{
    display: none;
}
 #emailhelper{
  font-size: 15px;
  color: #777;
  margin-top: 7px;
  margin-bottom: 10px;
 }

#otp-card{
    width: 420px;
    height: 330px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
  
}
#otp-card h1{
 font-size:22px;
 margin-left:15px;
 margin-top: 5px;
}
#otpbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

#otpbox input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;

  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.05);
} 

#otp-card button{
  width: 90%;
  height: 40px;
  margin: 20px 20px;
  border-radius: 10px;
  border: none;
font-size: 15px;
    font-weight: bold;
    color: white;
  background: linear-gradient(90deg,#ff2f92,#7b2ff7); 
}
 .Resend{
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
 }
 .Resend.disabled{
  color: grey;
  cursor: not-allowed;
 }

 #timer{
  margin-left: 5px;
 }

 #otp-card p{
  margin-top: 18px;
  margin-left: 35px;
 
 }
 #getotpbtn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
 }



 /* 
   RESPONSIVE DESIGN
    */

    @media (max-width:760px){
      .login-card{
        width: 100%;
        max-width: 360px;
        padding: 20px;
      }
      body{
        padding: 15px;
      }
    }







