<!--{% load static %}-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="login.css" />
</head>
<body>
<!--OTP card-->
<div class="outerlayer">
  <div id="otp-card" >
    <h1> Enter the OTP sent to your email</h1>
    <form method="post" id="otp-form" action="{% url 'verify_otp' %}">
        <!--{% csrf_token %}-->
        <div id="otpbox">
            <input class="otpinput" maxlength="1" name="otp1" required>
            <input class="otpinput" maxlength="1" name="otp2" required>
            <input class="otpinput" maxlength="1" name="otp3" required>
            <input class="otpinput" maxlength="1" name="otp4" required>
        </div>
        <button id="loginbtn">Login</button>
    </form>
    <p>Didn't receive OTP ?<span id="resendotp" class="Resend "> Resend OTP  (<span id="timer">30</span>s)</span></p>
  </div>

</div>
<script src="otpcard.js"></script>
</body>
</html>